<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-ocrcamera" version="0.0.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>ocrcamera</name>
    <js-module name="ocrcamera" src="www/ocrcamera.js">
        <clobbers target="cordova.plugins.ocrcamera" />
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ocrcamera">
                <param name="android-package" value="cordova.plugin.ocrcamera.ocrcamera" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
           <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
           <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="application">
          <provider
              android:name="cordova.plugin.ocrcamera.FileProvider"
              android:authorities="com.oracle.scanreceive.fileprovider"
              android:exported="false"
              android:grantUriPermissions="true" >
              <meta-data
                  android:name="android.support.FILE_PROVIDER_PATHS"
                  android:resource="@xml/file_paths"/>
          </provider>
        </config-file> 
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
		    <activity android:label="@string/app_name" android:name="cordova.plugin.ocrcamera.MainActivity" android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            </activity>
		</config-file>

        <source-file src="src/android/ocrcamera.java" target-dir="src/cordova/plugin/ocrcamera" />
        <source-file src="src/android/R.java" target-dir="src/cordova/plugin/ocrcamera" />
        <source-file src="src/android/FileProvider.java" target-dir="src/cordova/plugin/ocrcamera" />
        <source-file src="src/android/ocr/src/MainActivity.java" target-dir="src/cordova/plugin/ocrcamera" />
        <source-file src="src/android/ocr/src/ItemScan.java" target-dir="src/cordova/plugin/ocrcamera" />     
        <source-file src="src/android/ocr/res/values/colors.xml" target-dir="res/values"/>
        <source-file src="src/android/ocr/res/values/dimens.xml" target-dir="res/values"/>
        <source-file src="src/android/ocr/res/values/strings_en.xml" target-dir="res/values"/>
        <source-file src="src/android/ocr/res/layout/main_activity.xml" target-dir="res/layout"/>   
        <source-file src="src/android/ocr/res/xml/file_paths.xml" target-dir="res/xml"/>
		
	    <framework src="com.android.support:appcompat-v7:27.1.1"/>
        <framework src="com.android.support.constraint:constraint-layout:1.1.2"/>
        <framework src="com.google.android.gms:play-services-vision:15.0.1"/>
        <framework src="com.theartofdev.edmodo:android-image-cropper:2.7.+"/>
        <framework src="com.jakewharton:butterknife:8.8.1"/>
	   
    </platform>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="ocrcamera">
                <param name="ios-package" value="ocrcamera" />
            </feature>
        </config-file>
        <source-file src="src/ios/ocrcamera.m" />
        <header-file src="src/ios/OCR/ItemScan.h" />
        <source-file src="src/ios/OCR/ItemScan.m" />
        <header-file src="src/ios/OCR/OCRViewController.h" />
        <source-file src="src/ios/OCR/OCRViewController.m" />
        <source-file src="src/ios/OCR/OCRViewController.xib" />
        <source-file src="src/ios/OCR/NSData+Base64.h" />
        <source-file src="src/ios/OCR/NSData+Base64.m" />
        <source-file src="src/ios/OCR/resource/ic_done_white.png" />
        <source-file src="src/ios/OCR/resource/ic_ocr_white.png" />
        <source-file src="src/ios/OCR/resource/icon_expenses_white.png" />
        
        <framework src="GoogleMobileVision/TextDetector" type="podspec" spec="~>1.3.2"/>
    </platform>
</plugin>